services:

  db:
    image: timescale/timescaledb:latest-pg14
    container_name: instock.db
    env_file: .env  
    ports: 
      - 5434:5432

# Network
networks:
  default:
    external:
      name: myprod_dev